body {
    background-image: url('../Images/fond1.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.img_menu_burger {
    overflow: hidden;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
    width: 250px;
    height: 250px;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.5)), url("Images/burger_menu-ConvertImage.jpg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom-: 4%;
    margin-top: 4%;
}

.logoAB {
    max-height: 200px;
    overflow: hidden;
}

.burgerTop {
    max-height: 400px;
}

@media screen and (max-width: 480px) {
    .burgerTop {
        max-height: 180px;
    }
}

.img_menu_burger:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("Images/burger_menu-ConvertImage.jpg");
    background-size: contain;
}

.burger_highlighted {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("Images/burger_menu-ConvertImage.jpg");
    background-size: contain;
}

.img_menu_burger:hover > .burger_name {
    display: none;
}

.img_menu_burger:hover > .ingredients {
    display: block;
}

.burger_name {
    display: block;
    color: white;
}

.ingredients {
    display: none;
}